<div class="container fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 d-flex flex-column mb-2">
			<div class="d-flex justify-content-between align-items-center my-4">
				<a routerLink="/login" class="mb-0">
					<i class="fa-solid fa-arrow-left h6"> Go back</i>
				</a>
			</div>
			<form>
				<div class="mt-0">
					<h3 class="text-center">Register</h3>
				</div>
                <div class="mb-2">
					<label for="inputUserName" class="form-label">UserName</label>
					<input type="text" class="form-control" id="inputUserName" aria-describedby="UsernameHelp" placeholder="Enter UserName">
					<small id="UserName" class="form-text text-muted">We'll never share your Username with anyone else.</small>
				</div>
				<div class="mb-2">
					<label for="inputName" class="form-label">Name</label>
					<input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name">
					<small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
				</div>
				<div class="mb-2">
					<label for="inputLastname" class="form-label">Lastname</label>
					<input type="text" class="form-control" id="inputLastname" aria-describedby="lastnameHelp" placeholder="Enter lastname">
					<small id="lastnameHelp" class="form-text text-muted">We'll never share your lastname with anyone else.</small>
				</div>
				<div class="mb-2">
					<label for="inputEmail" class="form-label">Email</label>
					<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
                <div class="mb-2">
					<label for="inputPassword" class="form-label">Password</label>
					<input type="password" class="form-control" id="inputPassword" aria-describedby="PasswordHelp" placeholder="Enter Password">
					<small id="PasswordHelp" class="form-text text-muted">We'll never share your Password with anyone else.</small>
				</div>
                <div class="mb-2">
					<label for="inputConfirmPassword" class="form-label">Confirm password</label>
					<input type="password" class="form-control" id="inputConfirmPassword" aria-describedby="ConfirmPasswordHelp" placeholder="Enter ConfirmPassword">
					<small id="ConfirmPasswordHelp" class="form-text text-muted">We'll never share your ConfirmPassword with anyone else.</small>
				</div>
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-primary mt-3">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>