<ul class="list-group w-50 mx-auto">
	<a href="#" class="navbar-brand mx-0" routerLink="/profile/Userdata">
		<li class="list-group-item list-group-item-dark d-flex justify-content-center align-items-center  mt-3 mb-2 ">
			Userdata
		</li>
	</a>
	<a href="#" class="navbar-brand mx-0" routerLink="/profile/friends">
		<li class="list-group-item list-group-item-dark d-flex justify-content-center align-items-center my-2">
			Add friends
		</li>
	</a>
	<a href="#" class="navbar-brand mx-0" routerLink="/profile/settings">
		<li class="list-group-item list-group-item-dark d-flex justify-content-center align-items-center my-2">
			Settigs
		</li>
	</a>
</ul>