<div class="container fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2 d-flex flex-column mb-2">
			<button type="button" class="btn btn-outline-dark p-2 text-center mb-2 login" routerLink="/userdata">
				<i class="fa-solid fa-right-to-bracket display-4"></i>
				<h5>Login</h5>
			</button>
			<button type="button" class="btn btn-dark p-2 text-center mb-2" routerLink="/userdata" [disabled]="true">
				<i class="fa-regular fa-id-badge text-white display-4"></i>
				<h5 class="text-white">Userdata</h5>
			</button>
			<button type="button" class="btn btn-dark p-2 text-center mb-2" routerLink="/friends">
				<i class="fa-solid fa-user-plus text-white display-4"></i>
				<h5 class="text-white">Add friends</h5>
			</button>
			<button type="button" class="btn btn-dark p-2 text-center mb-2" routerLink="/settings">
				<i class="fa-solid fa-gear text-white display-4"></i>
				<h5 class="text-white">Settings</h5>
			</button>
		</div>
	</div>
</div>